{% extends 'base.html.twig' %}

{% block body %}

    <header><i>La force de ta volonté a fait tomber les obstacles, mais les mystères ne sont pas tous résolus.</i></header>

    <article>
        <header>Âmes retrouvées</header>

        <div class="grid">
            <div data-tooltip="Arthur"><img src="{{ asset('build/images/1/a59097b33cdb3bf9b8991a71fe87dd65.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></div>
            <div data-tooltip="Antoine"><img src="{{ asset('build/images/2/72b6986b6a13c2dcc52df763cea327af.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <footer>
            <nav>
                <ul>
                    <li>Progression : {{ datas.progress }}</li>
                </ul>
                <ul>
                    <li><a href="#jeu"> ▼</a></li>
                </ul>
                <ul>
                    <li>Tentatives : {{ datas.nbTry }}</li>
                </ul>
            </nav>
        </footer>
    </article>


    <div class="grid" id="jeu">
        <a href="{{ path('app_check', {'check': 'f8d9024e1efc5c82b039694d66704264'}) }}">
            <article><img src="{{ asset('build/images/3/83ba10280c7e692032728377ade4ef97.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></article>
        </a>
        <a href="{{ path('app_check', {'check': '430ffce71acf97c407c7083ddf6a2436'}) }}">
            <article><img src="{{ asset('build/images/3/236bcc21f862d3bea8afa3b8f1a84332.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></article>
        </a>
        <a href="{{ path('app_check', {'check': 'f2aa9d222cd44e8b1f18b1e767928c48'}) }}">
            <article><img src="{{ asset('build/images/3/fcf733e93912cc98d5f8c1ae58996067.png') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></article>
        </a>
    </div>


    <div class="grid">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <a href="{{ path('app_reset') }}"><button>Retour au Néant</button></a>
    </div>





{% endblock %}