{% extends 'base.html.twig' %}

{% block body %}

    <h1>Retrouve l'âme de ton proche</h1>
    <i>Ta bravoure a vaincu l'adversité, mais il reste encore des énigmes à résoudre. Sais-tu où te mènera le chemin ?</i>


    <div class="grid">
        <a href="{{ path('app_check', {'check': 'f8d9024e1efc5c82b039694d66704264'}) }}">
            <article><img src="{{ asset('build/images/3/todo.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></article>
        </a>
        <a href="{{ path('app_check', {'check': '430ffce71acf97c407c7083ddf6a2436'}) }}">
            <article><img src="{{ asset('build/images/3/todo.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></article>
        </a>
        <a href="{{ path('app_check', {'check': 'f2aa9d222cd44e8b1f18b1e767928c48'}) }}">
            <article><img src="{{ asset('build/images/3/todoGood.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></article>
        </a>
    </div>

    <nav>
        <ul>
            <li><h1>Progression : {{ datas.progress }} </h1></li>
        </ul>
        <ul>
            <li><h1>Tentatives : {{ datas.nbTry }} </h1></li>
        </ul>
    </nav>


    <article>
        <h1>Âmes retrouvées</h1>

        <div class="grid">
            <div><img src="{{ asset('build/images/1/a59097b33cdb3bf9b8991a71fe87dd65.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></div>
            <div><img src="{{ asset('build/images/2/72b6986b6a13c2dcc52df763cea327af.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </article>

    <div class="grid">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <a href="{{ path('app_reset') }}"><button>Retour au Néant</button></a>
    </div>





{% endblock %}