{% extends 'base.html.twig' %}

{% block body %}

    <header><i>Le courage dont tu as fait preuve a ébranlé les fondements mêmes du mystère. Mais le voyage continue.</i></header>

    <article>
        <header>Âmes retrouvées</header>

        <div class="grid">
            <div data-tooltip="Arthur"><img src="{{ asset('build/images/1/a59097b33cdb3bf9b8991a71fe87dd65.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></div>
            <div data-tooltip="Antoine"><img src="{{ asset('build/images/2/72b6986b6a13c2dcc52df763cea327af.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></div>
            <div data-tooltip="Alexandre"><img src="{{ asset('build/images/3/099df458f8af1b13340cabd8882e5e80.png') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></div>
            <div data-tooltip="Marwane"><img src="{{ asset('build/images/4/d804f18bbb3b2af2c13f052e0de4c303.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></div>
            <div data-tooltip="Thibault Brun"><img src="{{ asset('build/images/5/b9824d25372551e62acdb91ce103e675.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <footer>
            <nav>
                <ul>
                    <li>Progression : {{ datas.progress }}</li>
                </ul>
                <ul>
                    <li><a href="#jeu"> Continue ▼</a></li>
                </ul>
                <ul>
                    <li>Tentatives : {{ datas.nbTry }}</li>
                </ul>
            </nav>
        </footer>
    </article>



    <div class="grid" id="jeu">
        <a href="{{ path('app_check', {'check': '4b9ed4d7647ad8a36b376db7d5a94b5a'}) }}">
            <article><img src="{{ asset('build/images/6/0690ab409949c7aaaaad4a211c1cec5e.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></article>
        </a>
        <a href="{{ path('app_check', {'check': '92577148705a640d869442f249064c32'}) }}">
            <article><img src="{{ asset('build/images/6/a88ccc5545a840cee17b6f9b96f55b1f.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></article>
        </a>
        <a href="{{ path('app_check', {'check': '6c64dcc3f7d897bb8f91ec5e49d692c4'}) }}">
            <article><img src="{{ asset('build/images/6/b4bd57b527facd676f80cf457beae37e.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></article>
        </a>
    </div>

    <div class="grid">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <a href="{{ path('app_reset') }}"><button>Retour au Néant</button></a>
    </div>





{% endblock %}