{% extends 'base.html.twig' %}

{% block body %}

    <article>

        <p>Bravo</p>
        <p>Tu es bien arrivé au bout de cette épreuve.<br>
        Je vois que tu portes une attention toute particulière à ces gens.<br>
        Je vais donc pouvoir entreprendre mon ultime épreuve.<br>
        À l'issue de celle-ci, tout s'éclaircira pour toi.</p>

        <p>Afin de me confirmer ta réussite : envoi moi par message le mot de passe suivant : <br> <br>'Elles Vous Gêneraient'</p>
    </article>

    <header><i>Profite encore un peu de tes proches...</i></header>

    <div class="grid">
        <article><center><img src="{{ asset('build/images/1/581c6d69750e15b507ebf85f987d5ada.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></center></article>
        <article><center><img src="{{ asset('build/images/1/a59097b33cdb3bf9b8991a71fe87dd65.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></center></article>
    </div>
    <div class="grid">
        <article><center><img src="{{ asset('build/images/2/72b6986b6a13c2dcc52df763cea327af.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></center></article>
        <article><center><img src="{{ asset('build/images/2/dbcb1b62dfc32c44fd17d224821130d6.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></center></article>
    </div>
    <div class="grid">
        <article><center><img src="{{ asset('build/images/3/fcf733e93912cc98d5f8c1ae58996067.png') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></center></article>
        <article><center><img src="{{ asset('build/images/3/099df458f8af1b13340cabd8882e5e80.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></center></article>
    </div>
    <div class="grid">
        <article><center><img src="{{ asset('build/images/4/f9ab7fb525eb8e806b436c858bcbca8c.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></center></article>
        <article><center><img src="{{ asset('build/images/4/d804f18bbb3b2af2c13f052e0de4c303.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></center></article>
    </div>
    <div class="grid">
        <article><center><img src="{{ asset('build/images/5/b9824d25372551e62acdb91ce103e675.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></center></article>
        <article><center><img src="{{ asset('build/images/5/abe5e7c614e7498ad7b00858430cd52d.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></center></article>
    </div>
    <div class="grid">
        <article><center><img src="{{ asset('build/images/6/0690ab409949c7aaaaad4a211c1cec5e.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></center></article>
        <article><center><img src="{{ asset('build/images/6/2f615086031d7c3d603c14476604478f.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></center></article>
    </div>
    <div class="grid">
        <article><center><img src="{{ asset('build/images/7/GOOD.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></center></article>
        <article><center><img src="{{ asset('build/images/7/d2d1b74ca64553ce27ba83d7f3e89b58.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></center></article>
    </div>
    <div class="grid">
        <article><center><img src="{{ asset('build/images/8/56956ce0a6ac8ae659136fb34a57a68c.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></center></article>
        <article><center><img src="{{ asset('build/images/8/GOOD.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></center></article>
    </div>
    <div class="grid">
        <article><center><img src="{{ asset('build/images/9/g7596666af6df3ac95a8d29532adb913.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></center></article>
        <article>
            <center><img src="{{ asset('build/images/9/bfc20667a3c48391ea2c47bc8f761c27.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></center>
            <center><img src="{{ asset('build/images/9/bfc20667a3c48391ea2c47bc8f761c27.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></center>
        </article>
    </div>
    <div class="grid">
        <article><center><img src="{{ asset('build/images/10/6141328db2b256f814dec76be20d80cd.png') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></center></article>
        <article><center><img src="{{ asset('build/images/10/ad606f3aa32dd2e8f2846eb923333ab8.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></center></article>
    </div>
    <div class="grid">
        <article><center><img src="{{ asset('build/images/11/1256d7bccf598f1f6f81b30bca927a09.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></center></article>
        <article><center><img src="{{ asset('build/images/11/1d2d68bfbe41294d18406c73263ed73f.png') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></center></article>
    </div>
    <div class="grid">
        <article><center><img src="{{ asset('build/images/12/0071c796baf44de747f923e8977b7039.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></center></article>
        <article><center><img src="{{ asset('build/images/12/907aa96c7a3e2c68db3f2a19d999c35c.png') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></center></article>
    </div>
    <div class="grid">
        <article>
            <i>Variantes générées par AI</i>

            <div class="grid">
                <img src="{{ asset('build/images/13/aaa.png') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8">
                <img src="{{ asset('build/images/13/bbb.png') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8">
            </div>
            <div class="grid">
                <img src="{{ asset('build/images/13/ccc.png') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8">
                <img src="{{ asset('build/images/13/ddd.png') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8">
            </div>
            <div class="grid">
                <img src="{{ asset('build/images/13/eee.png') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8">
                <img src="{{ asset('build/images/13/fff.png') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8">
            </div>
        </article>
        <article><center><img src="{{ asset('build/images/13/f3747744214e34dd1957f8fc12d4bbf9.png') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></center></article>
    </div>

    </article>


    <div class="grid">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <a href="{{ path('app_reset') }}"><button>Retour au Néant</button></a>
    </div>





{% endblock %}