{% extends 'base.html.twig' %}

{% block body %}

    <header><i>Tes prouesses ont impressionné les esprits des ténèbres, mais la route vers le sommet reste incertaine.</i></header>

    <article>
        <header>Âmes retrouvées</header>

        <div class="grid">
            <div data-tooltip="Arthur"><img src="{{ asset('build/images/1/a59097b33cdb3bf9b8991a71fe87dd65.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></div>
            <div data-tooltip="Antoine"><img src="{{ asset('build/images/2/72b6986b6a13c2dcc52df763cea327af.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></div>
            <div data-tooltip="Alexandre"><img src="{{ asset('build/images/3/099df458f8af1b13340cabd8882e5e80.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <footer>
            <nav>
                <ul>
                    <li>Progression : {{ datas.progress }}</li>
                </ul>
                <ul>
                    <li><a href="#jeu">Continue ▼</a></li>
                </ul>
                <ul>
                    <li>Tentatives : {{ datas.nbTry }}</li>
                </ul>
            </nav>
        </footer>
    </article>


    <div class="grid" id="jeu">
        <a href="{{ path('app_check', {'check': '165ccfde8c18f0a529a46c9fb0e1403f'}) }}">
            <article><img src="{{ asset('build/images/4/f9ab7fb525eb8e806b436c858bcbca8c.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></article>
        </a>
        <a href="{{ path('app_check', {'check': '3fe424a77729dcb3df706e7a1ba8d43a'}) }}">
            <article><img src="{{ asset('build/images/4/6fbd17e33733f71045ac18a854250d28.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></article>
        </a>
        <a href="{{ path('app_check', {'check': '0f2123794e5e3cac42bd76de5f4c3494'}) }}">
            <article><img src="{{ asset('build/images/4/1eed2095bfc8e81e5f401eb7bfd93ac2.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></article>
        </a>
    </div>


    <div class="grid">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <a href="{{ path('app_reset') }}"><button>Retour au Néant</button></a>
    </div>





{% endblock %}