{% extends 'base.html.twig' %}

{% block body %}

    <header><i>Le bout du chemin est proche, mais les ombres s'épaississent, les dangers se multiplient.</i></header>

    <article>
        <header>Âmes retrouvées</header>

        <div class="grid">
            <div data-tooltip="Arthur"><img src="{{ asset('build/images/1/a59097b33cdb3bf9b8991a71fe87dd65.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></div>
            <div data-tooltip="Antoine"><img src="{{ asset('build/images/2/72b6986b6a13c2dcc52df763cea327af.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></div>
            <div data-tooltip="Alexandre"><img src="{{ asset('build/images/3/099df458f8af1b13340cabd8882e5e80.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></div>
            <div data-tooltip="Marwane"><img src="{{ asset('build/images/4/d804f18bbb3b2af2c13f052e0de4c303.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></div>
            <div data-tooltip="Thibault Brun"><img src="{{ asset('build/images/5/b9824d25372551e62acdb91ce103e675.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></div>
            <div data-tooltip="Bastian"><img src="{{ asset('build/images/6/2f615086031d7c3d603c14476604478f.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></div>
            <div data-tooltip="Quentin"><img src="{{ asset('build/images/7/GOOD.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></div>
            <div data-tooltip="Vivien"><img src="{{ asset('build/images/8/GOOD.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></div>
            <div data-tooltip="Pierre-Julien"><img src="{{ asset('build/images/9/g7596666af6df3ac95a8d29532adb913.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></div>
            <div data-tooltip="Rémi"><img src="{{ asset('build/images/10/ad606f3aa32dd2e8f2846eb923333ab8.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></div>
            <div data-tooltip="Adrien"><img src="{{ asset('build/images/11/1256d7bccf598f1f6f81b30bca927a09.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></div>
            <div></div>
        </div>
        <footer>
            <nav>
                <ul>
                    <li>Progression : {{ datas.progress }}</li>
                </ul>
                <ul>
                    <li><a href="#jeu"> Continue ▼</a></li>
                </ul>
                <ul>
                    <li>Tentatives : {{ datas.nbTry }}</li>
                </ul>
            </nav>
        </footer>
    </article>

    <div class="grid" id="jeu">
        <a href="{{ path('app_check', {'check': 'abef537ab330e1f56d0c8d0d00a32166'}) }}">
            <article><img src="{{ asset('build/images/12/1ddf5ae9994b7b461f17c40ffef329a2.png') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></article>
        </a>
        <a href="{{ path('app_check', {'check': '8efca13cfb7ff99e5539270ee5918b09'}) }}">
            <article><img src="{{ asset('build/images/12/f5f888a4f16b6a920a0df993c049af02.png') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></article>
        </a>
        <a href="{{ path('app_check', {'check': 'bb55f3d484ef6391bc672e7ca2a09f2c'}) }}">
            <article><img src="{{ asset('build/images/12/907aa96c7a3e2c68db3f2a19d999c35c.png') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></article>
        </a>
    </div>


    <div class="grid">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <a href="{{ path('app_reset') }}"><button>Retour au Néant</button></a>
    </div>





{% endblock %}