{% extends 'base.html.twig' %}

{% block body %}

    <header><i>Ta victoire n'est que le début d'un long chemin. De nouveaux défis t'attendent.</i></header>

    <article>
        <header>Âmes retrouvées</header>

        <div class="grid">
            <div data-tooltip="Arthur"><img src="{{ asset('build/images/1/a59097b33cdb3bf9b8991a71fe87dd65.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></div>
            <div data-tooltip="Antoine"><img src="{{ asset('build/images/2/72b6986b6a13c2dcc52df763cea327af.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></div>
            <div data-tooltip="Alexandre"><img src="{{ asset('build/images/3/099df458f8af1b13340cabd8882e5e80.png') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></div>
            <div data-tooltip="Marwane"><img src="{{ asset('build/images/4/d804f18bbb3b2af2c13f052e0de4c303.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></div>
            <div data-tooltip="Thibault Brun"><img src="{{ asset('build/images/5/b9824d25372551e62acdb91ce103e675.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></div>
            <div data-tooltip="Bastian"><img src="{{ asset('build/images/6/2f615086031d7c3d603c14476604478f.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <footer>
            <nav>
                <ul>
                    <li>Progression : {{ datas.progress }}</li>
                </ul>
                <ul>
                    <li><a href="#jeu"> Continue ▼</a></li>
                </ul>
                <ul>
                    <li>Tentatives : {{ datas.nbTry }}</li>
                </ul>
            </nav>
        </footer>
    </article>



    <div class="grid" id="jeu">
        <a href="{{ path('app_check', {'check': 'd32ba055e5d5020ac5ee53ee69edf919'}) }}">
            <article><img src="{{ asset('build/images/7/7ecf928fe973d0f814f46a8ad958d989.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></article>
        </a>
        <a href="{{ path('app_check', {'check': '0895ab03c5f7b61a9d197a7e8e578c0a'}) }}">
            <article><img src="{{ asset('build/images/7/d2d1b74ca64553ce27ba83d7f3e89b58.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></article>
        </a>
        <a href="{{ path('app_check', {'check': '41fcba09f2bdcdf315ba4119dc7978dd'}) }}">
            <article><img src="{{ asset('build/images/7/d3312ae748fc4e9fc7c87f3961aba6f6.jpg') }}" alt="photo1" class="brand-image img-circle" style="opacity: .8"></article>
        </a>
    </div>

    <div class="grid">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <a href="{{ path('app_reset') }}"><button>Retour au Néant</button></a>
    </div>





{% endblock %}